<button (click)="getStreetsPerName()" mat-raised-button>Basic</button>


<mat-form-field class="example-form-field">
  <mat-label>Name der Straße</mat-label>
  <input matInput type="text" [(ngModel)]="searchString">
</mat-form-field>

<div>
  <h2>Name</h2>
  <div *ngFor="let i of this.result">
    <p>{{i.tags.name}} </p>
  </div>
</div>

<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="leaflet.geometryutil.js"></script>
<script src="scripts.js"></script>
